body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

h1, h2 {
    color: #333;
}

#libros-disponibles, #carrito {
    margin: 20px 0;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 10px 0;
    padding: 10px;
    border-bottom: 1px solid #eee;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
    padding: 5px 10px;
    background-color: #7300ff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #7300ff97;
}

#notificaciones {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 300px;
}

.notificacion {
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    color: #fff;
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.3s, transform 0.3s;
}

.notificacion.show {
    opacity: 1;
    transform: translateY(0);
}

.notificacion.success {
    background-color: #4caf50;
}

.notificacion.error {
    background-color: #f44336;
}
